.header__logo {
  width: 142px;
  height: 33px;

  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../images/logo.svg");
}

@media screen and (max-width: 545px) {
  .header__logo {
    margin: 0 0 0 27px;
    width: 104px;
    height: 24px;
  }
}