.header__logo {
  width: 142px;
  height: 33px;
  grid-area: logo;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../images/logo.svg");
}

@media screen and (max-width: 550px) {
  .header__logo {
    margin: 25px 0 0 30px;
    width: 104px;
    height: 24px;
  }
}