.body {
  color: white;
  font-family: Inter, Arial, sans-serif;
  /*Черный слишком черный, контраст жестковат, проект учебный биды не будет если слегка посветлее будет подумал я*/
  background-color: #212121;
  /*TODO uncomment for review*/
  /*background-color: #000000;*/
}