.profile__add {
    width: 150px;
    height: 50px;

    grid-area: add;
    background-color: #212121;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url("../../../images/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    justify-self: end;
    align-self: center;
}

@media screen and (max-width: 720px) {
    .profile__add {
        margin: 33px 0 0 0;
        width: 282px;
        height: 50px;

        background-size: 16px;
        grid-area: add;
        justify-self: center;
    }
}