.profile {
  margin: 40px auto 0 auto;
  padding: 0 19px;
  max-width: 880px;

  display: grid;
  justify-content: center;
  grid-template-columns: min-content minmax(0, 2fr) minmax(150px, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 0 30px;
  grid-template-areas: "avatar name add"
                        "avatar status add";
}

@media screen and (max-width: 720px) {
  .profile {
    grid-template-columns: min-content minmax(0, 1fr);
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
            "avatar name"
            "avatar status"
            "add add";
  }
}

@media screen and (max-width: 545px) {
  .profile {
    margin: 42px auto 0 auto;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: "avatar"
                          "name"
                          "status"
                          "add";
  }
}