.profile__edit {
  margin: 12px 0 6px 19px;
  width: 24px;
  height: 24px;
  line-height: 42px;


  align-self: flex-end;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #212121;
  background-image: url("../../../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 545px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin: 8px 0 6px 10px;

    background-size: 8px;
  }
}