.header__nav-button {
  padding: 0;
  margin: 0 0 0 24px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .header__nav-button {
    margin: 19px auto 0 auto;
    display: block;
  }

  .header__nav-button:first-child {
    margin: 37px auto 0 auto;
  }

  .header__nav-button:last-child {
    margin: 19px auto 40px auto;
  }
}